.changeBackground {
	
	background-color:#eff4f9    ;
	border-color: #427cac;
	color:  #fafafa ;
	
}

.removeBackground {
	background-color: #FFFFFF;
}

.addSpaceBetweenButtons {
	margin-right: 10px;
}
.tableHeaderUnvisible.sapMListTblHeaderCell {
	padding: 0rem;
}
.sapMPage>section.sapMPageEnableScrolling{
	enableScrolling: false;
}
.img {

    max-width: 30rem;
    height:15rem

}

/*.sapMSegBBtn.sapMSegBBtnSel {
	background-color:#eff4f9 !important ;
}*/