.changeBackground {
	
	background-color:#eff4f9    ;
	border-color: #427cac;
	color:  #fafafa ;
	
}

.removeBackground {
	background-color: #FFFFFF;
}

.addSpaceBetweenButtons {
	margin-right: 10px;
}